<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <title>After School Club</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click="showShoppingCart" class="shopping-cart" v-if="enableCart()">
                <span class="material-symbols-outlined" style="color: #A42D55; font-size: 30px;">&#xe8cc;</span>
                <span class="cart-count">{{ cartItemCount }}</span>
            </button>
            <button disabled="disabled" class="shopping-cart" v-else>
                <span class="material-symbols-outlined" style="color: #A42D55; font-size: 30px;">&#xe8cc;</span>
                <span class="cart-count">{{ cartItemCount }}</span>
            </button>
        </header>
        <main>
            <div v-if="showLesson">
                <div class="lesson-rows">
                    <div v-for="lesson in lessons">
                        <div class="lesson">
                            <div class="top-lesson">
                                <p style="text-align: center;"><b>{{lesson.name}}</b></p>
                            </div>
                            <div class="mid-lesson">
                                <figure>
                                    <img v-bind:src="lesson.image" class="icon">
                                </figure>
                                <div>
                                    <p>Location: {{lesson.location}}</p>
                                    <p>Price: {{lesson.price}}</p>
                                    <p>Seats Available: {{ lesson.availableSeats - lesson.quantity }}</p>
                                </div>
                            </div>
                            <div class="bottom-lesson">
                                <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)" class="addToCartBtn">
                                    <span class="fas fa-cart-plus" style="color: #E1A587; font-size: 15px; margin-right: 10px; margin-left: 0px;"></span>Add to Cart
                                </button>
                                <button disabled="disabled" v-else class="addToCartBtn">
                                    <span class="fas fa-cart-plus" style="color: #E1A587; font-size: 15px; margin-right: 10px; margin-left: 0px;"></span>Add to Cart
                                </button>
                                <span v-if="lesson.availableSeats === cartCount(lesson.id)">
                                    Club Full!
                                </span>
                                <span v-else-if="lesson.availableSeats - cartCount(lesson.id) < 5" id="mid">
                                    Just {{lesson.availableSeats - cartCount(lesson.id)}} spots left!
                                </span>
                                <span v-else>
                                    Join Now!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <h2 class="checkout"><span class="fas fa-shopping-cart" style="color: #E1A587; font-size: 40px; margin-right: 15px;"></span>Cart</h2>
                <div class="lesson-scroll">
                    <div v-for="lesson in selectedLessons">
                        <div class="lesson-scroll-sep">
                            <div class="top-lesson">
                                <p style="text-align: center;"><b>{{lesson.name}}</b></p>
                            </div>
                            <div class="mid-lesson">
                                <figure>
                                    <img v-bind:src="lesson.image" class="icon">
                                </figure>
                                <div>
                                    <p>Location: {{lesson.location}}</p>
                                    <p>Price: {{lesson.price}}</p>
                                    <!-- <p>Seats Available: {{ lesson.availableSeats - lesson.quantity }}</p> -->
                                    <p>Seats Booked: {{ lesson.quantity }}</p>
                                </div>
                            </div>
                            <div class="bottom-lesson">
                                <button v-on:click="removeFromCart(lesson)" v-if="lesson.quantity > 1" class="addToCartBtn" style="margin-left: 60px;">
                                    <span class="fas fa-minus-square" style="color: #E1A587; font-size: 15px; margin-right: 15px; margin-left: 0px;"></span>Remove Seat
                                </button>
                                <button v-on:click="removeFromCart(lesson)" v-else-if="lesson.quantity === 1" class="addToCartBtn" style="margin-left: 40px;">
                                    <span class="far fa-trash-alt" style="color: #E1A587; font-size: 15px; margin-right: 15px; margin-left: 0px;"></span>Remove from Cart                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booking-details">
                    <div class="book-form">
                        <h2>Booking Details</h2>
                        <p id="name-field"><b>Full Name:</b><span><input v-model.trim="booking.fullname"/></span></p>
                        <p id="phone-field"><b>Phone No:</b><span><input v-model.trim="booking.phone"/></span></p>
                        <p id="email-field"><b>Email:</b><span><input v-model.trim="booking.email"/></span></p>
                    </div>
                    <div class="book-info">
                        <h2>Confirm Details</h2>
                        <p><b>Full Name:</b> {{booking.fullname}}</p>
                        <p><b>Phone No:</b> {{booking.phone}}</p>
                        <p><b>Email:</b> {{booking.email}}</p>
                    </div>
                </div>
                <button v-on:click="submitForm()">Place Order</button>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        let webstore = new Vue({
            el:'#app',
            data: {
                sitename: "After School Club",
                lessons: lessons,
                showLesson: true,
                cart: [], //array to store items added to the cart
                confirmCart: [],
                booking: {
                    fullname: "",
                    phone: "",
                    email: ""
                }
            },
            methods: {
                addToCart(lesson) {
                    this.cart.push(lesson.id);
                    lesson.quantity = lesson.quantity += 1;
                    if (!this.confirmCart.includes(lesson.id)){
                        this.confirmCart.push(lesson.id);
                    }
                },
                canAddToCart(lesson) {
                    return lesson.availableSeats > this.cartCount(lesson.id);
                },
                showShoppingCart() {
                    this.showLesson = this.showLesson ? false : true;
                },
                enableCart() {
                    return this.cartItemCount > 0;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++){
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                removeFromCart(lesson) {
                    const lessonCount = this.cartCount(lesson.id);

                    if (lessonCount > 1) {
                        const index = this.cart.indexOf(lesson.id);
                        if (index !== -1) {
                            this.cart.splice(index, 1);
                            lesson.quantity -= 1;
                        }
                    } 
                    else if (lessonCount === 1) {
                        this.cart = this.cart.filter(id => id !== lesson.id);
                        this.confirmCart = this.confirmCart.filter(id => id !== lesson.id);
                        lesson.quantity = 0;
                    }

                    if (this.cart.length === 0){
                        this.showLesson = true;
                    }
                },
                submitForm() {
                    if (this.booking.fullname === "" || this.booking.phone === "" || this.booking.email === ""){
                        alert("All fields are required to complete booking!");
                    }
                    else {
                        const phoneNumPattern = /^05\d{8}$/;
                        const emailIDPattern = /^[\w._]+@[\w]+.com$/;
                        if (!phoneNumPattern.test(this.booking.phone)){
                            alert("Invalid phone number! Please follow 05XXXXXXXX format.");
                        }
                        else if (!emailIDPattern.test(this.booking.email)){
                            alert("Invalid email address!");
                        }
                        else {
                            alert("Booking successful!");
                        }
                    }
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length || "";
                },
                selectedLessons() {
                    for (let i = 0; i < this.confirmCart.length; i++) {
                        return this.lessons.filter(lesson => this.confirmCart.includes(lesson.id));
                    }
                }
            }
        });
    </script>
</body>
</html>