<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="./styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <title>After School Club</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click="showShoppingCart" class="shopping-cart" v-if="enableCart()">
                <span class="material-symbols-outlined" style="color: #A42D55; font-size: 30px;">&#xe8cc;</span>
                <span class="cart-count">{{ cartItemCount }}</span>
            </button>
            <button disabled="disabled" class="shopping-cart" v-else>
                <span class="material-symbols-outlined" style="color: #A42D55; font-size: 30px;">&#xe8cc;</span>
                <span class="cart-count">{{ cartItemCount }}</span>
            </button>
        </header>
        <main>
            <div v-if="showLesson">
                <div class="sub-menu">
                    <div class="sort-menu">
                        <label for="sortBy">Sort By:</label>
                        <select id="sortBy" v-model="sortBy">
                            <option value="selected" selected>Select</option>
                            <option value="name">Name</option>
                            <option value="location">Location</option>
                            <option value="price">Price</option>
                            <option value="seats">Seats</option>
                        </select>
                    </div>
                    <div class="order-menu">
                        <label for="orderBy">Order By:</label>
                        <select id="orderBy" v-model="orderBy">
                            <option value="asc" selected>Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                </div>
                <div class="lesson-rows">
                    <div v-for="lesson in sortedLessons" :key="lesson.id">
                        <div class="lesson">
                            <div class="top-lesson">
                                <p style="text-align: center;"><b>{{lesson.name}}</b></p>
                            </div>
                            <div class="mid-lesson">
                                <figure>
                                    <img v-bind:src="lesson.image" class="icon">
                                </figure>
                                <div>
                                    <p>Location: {{lesson.location}}</p>
                                    <p>Price: {{lesson.price}}</p>
                                    <p>Seats Available: {{ lesson.availableSeats - cartCount(lesson.id) }}</p>
                                    <!-- <p>Seats Available: {{lesson.availableSeats - lesson.quantity}}</p> -->
                                </div>
                            </div>
                            <div class="bottom-lesson">
                                <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)" class="addToCartBtn">
                                    <span class="fas fa-cart-plus" style="color: #E1A587; font-size: 15px; margin-right: 10px; margin-left: 0px;"></span>Add to Cart
                                </button>
                                <button disabled="disabled" v-else class="addToCartBtn">
                                    <span class="fas fa-cart-plus" style="color: #E1A587; font-size: 15px; margin-right: 10px; margin-left: 0px;"></span>Add to Cart
                                </button>
                                <span v-if="lesson.availableSeats === cartCount(lesson.id)">
                                    Club Full!
                                </span>
                                <span v-else-if="lesson.availableSeats - cartCount(lesson.id) < 5" id="mid">
                                    Just {{5 - cartCount(lesson.id)}} spots left!
                                </span>
                                <span v-else>
                                    Join Now!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <h2 class="checkout"><span class="fas fa-shopping-cart" style="color: #E1A587; font-size: 40px; margin-right: 15px;"></span>Cart</h2>
                <div class="lesson-scroll">
                    <div v-for="lesson in selectedLessons" :key="lesson.id">
                        <div class="lesson-scroll-sep">
                            <div class="top-lesson">
                                <p style="text-align: center;"><b>{{lesson.name}}</b></p>
                            </div>
                            <div class="mid-lesson">
                                <figure>
                                    <img v-bind:src="lesson.image" class="icon">
                                </figure>
                                <div>
                                    <p>Location: {{lesson.location}}</p>
                                    <p>Price: {{lesson.price}}</p>
                                    <!-- <p>Seats Booked: {{ lesson.quantity }}</p> -->
                                    <p>Seats Booked: {{ cartCount(lesson.id) }}</p>
                                </div>
                            </div>
                            <div class="bottom-lesson">
                                <button v-on:click="removeFromCart(lesson)" v-if="cartCount(lesson.id) > 1" class="addToCartBtn" style="margin-left: 60px;">
                                    <span class="fas fa-minus-square" style="color: #E1A587; font-size: 15px; margin-right: 15px; margin-left: 0px;"></span>Remove Seat
                                </button>
                                <button v-on:click="removeFromCart(lesson)" v-else-if="cartCount(lesson.id) === 1" class="addToCartBtn" style="margin-left: 40px;">
                                    <span class="far fa-trash-alt" style="color: #E1A587; font-size: 15px; margin-right: 15px; margin-left: 0px;"></span>Remove from Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="booking-details">
                    <div class="book-form">
                        <h2>Booking Details</h2>
                        <p id="name-field"><b>Full Name:</b><span><input v-model.trim="booking.fullname"/></span></p>
                        <p id="phone-field"><b>Phone No:</b><span><input v-model.trim="booking.phone"/></span></p>
                        <p id="email-field"><b>Email:</b><span><input v-model.trim="booking.email"/></span></p>
                    </div>
                    <div class="book-info">
                        <h2>Confirm Details</h2>
                        <p><b>Full Name:</b> {{booking.fullname}}</p>
                        <p><b>Phone No:</b> {{booking.phone}}</p>
                        <p><b>Email:</b> {{booking.email}}</p>
                    </div>
                    <div class="cart-info">
                        <h2>Cart Items</h2>
                        <div class="cart-scroll">
                            <p v-for="lesson in selectedLessons">{{lesson.name}} x{{ cartCount(lesson.id) }}</p>
                        </div>
                    </div>
                </div>
                <button v-on:click="submitForm()" v-if="canSubmitForm()" class="bookSeatBtn">Book Seats</button>
                <button v-on:click="submitForm()" v-else class="bookSeatBtn" disabled="disabled">Book Seats</button>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        let webstore = new Vue({
            el:'#app',
            data: {
                sitename: "After School Club",
                lessons: [],
                showLesson: true,
                cart: [], // array to store items added to the cart (stores lesson ids)
                confirmCart: [],
                booking: {
                    fullname: "",
                    phone: "",
                    email: ""
                },
                sortBy: "selected",
                orderBy: "asc",
            },
            created() {
                console.log('requesting data from server ...')

                fetch('https://stephanie-cst3144-after-school-club.onrender.com/collection/lessons')
                .then(res => res.json())
                .then(data => {
                    this.lessons = data.map(lesson => ({
                        ...lesson,
                        image: 'https://stephanie-cst3144-after-school-club.onrender.com/'+lesson.image
                    }));
                    console.log('lessons loaded:', this.lessons);
                })
                .catch(err => {
                    console.error('fetch error: ', err);
                });
            },
            methods: {
                addToCart(lesson) {
                    this.cart.push(lesson.id);
                    if (!this.confirmCart.includes(lesson.id)){
                        this.confirmCart.push(lesson.id);
                    }
                    fetch('https://stephanie-cst3144-after-school-club.onrender.com/collection/lessons/'+lesson._id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json', //set data type as json
                        },
                        body: JSON.stringify({availableSeats:lesson.availableSeats - this.cartCount(lesson.id)}),
                    })
                    .then(response => response.json())
                    .then(updatedLesson => {
                        console.log("updated: ", updatedLesson);
                    })
                    .catch((error) => {
                        console.log("fetch error: ", error);
                    });
                },
                canAddToCart(lesson) {
                    return lesson.availableSeats > this.cartCount(lesson.id);
                },
                showShoppingCart() {
                    this.showLesson = this.showLesson ? false : true;
                },
                enableCart() {
                    return this.cartItemCount > 0;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++){
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                },
                removeFromCart(lesson) {
                    const lessonCount = this.cartCount(lesson.id);

                    if (lessonCount > 1) {
                        const index = this.cart.indexOf(lesson.id);
                        if (index !== -1) {
                            this.cart.splice(index, 1);
                        }
                    } 
                    else if (lessonCount === 1) {
                        this.cart = this.cart.filter(id => id !== lesson.id);
                        this.confirmCart = this.confirmCart.filter(id => id !== lesson.id);
                    }

                    if (this.cart.length === 0){
                        this.showLesson = true;
                    }
                    fetch('https://stephanie-cst3144-after-school-club.onrender.com/collection/lessons/'+lesson.id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json', //set data type as json
                        },
                        body: JSON.stringify({availableSeats:lesson.availableSeats - this.cartCount(lesson.id)}),
                    })
                    .then(response => response.json())
                    .then(updatedLesson => {
                        console.log("updated: ", updatedLesson);
                    })
                    .catch((error) => {
                        console.log("fetch error: ", error);
                    });
                },
                submitForm() {
                    const namePattern = /^[A-Za-z\s]+$/;
                    const phoneNumPattern = /^05\d{8}$/;
                    const emailIDPattern = /^[\w._]+@[\w]+\.(com)$/;

                    const valid = (
                        (this.booking.fullname !== "") && (namePattern.test(this.booking.fullname))) && 
                        (phoneNumPattern.test(this.booking.phone)) && 
                        (emailIDPattern.test(this.booking.email));

                    if (valid) {
                        alert("Seats booked successfully!");

                        const cart_info = {};
                        
                        for (let i = 0; i < this.confirmCart.length; i++) {
                            const cart_item = this.lessons.find(lesson => lesson.id === this.confirmCart[i]);
                            console.log(cart_item);
                            cart_info[cart_item.name] = this.cartCount(cart_item.id);
                        }

                        const newOrder = {
                            name: this.booking.fullname,
                            phone: this.booking.phone,
                            email: this.booking.email,
                            cart_info: cart_info
                        };

                        console.log("newOrder:", newOrder);

                        fetch('https://stephanie-cst3144-after-school-club.onrender.com/collection/orders', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(newOrder)
                        })
                        .then(res => {
                            console.log(res.json());
                        })
                        .then(responseJSON => {
                            console.log("added new order:", responseJSON);

                            // clear form and cart
                            this.booking.fullname = "";
                            this.booking.phone = "";
                            this.booking.email = "";

                            this.cart = [];
                            this.confirmCart = [];

                            return fetch('https://stephanie-cst3144-after-school-club.onrender.com/collection/lessons');
                        })
                        .then(res => {
                            console.log(res.json());
                        })
                        .then(data => {
                            this.lessons = data.map(lesson => ({
                                ...lesson,
                                availableSeats: 5
                            }));
                            fetch('https://stephanie-cst3144-after-school-club.onrender.com/collection/lessons/'+lesson.id, {
                                method: 'PUT',
                                headers: {
                                    'Content-Type': 'application/json', //set data type as json
                                },
                                body: JSON.stringify({availableSeats:5}),
                            })
                            this.showLesson = true;
                        })
                        .catch(error => {
                            console.error("fetch error:", error);
                        });
                    }
                },
                canSubmitForm() {
                    const namePattern = /^[A-Za-z\s]+$/;
                    const phoneNumPattern = /^05\d{8}$/;
                    const emailIDPattern = /^[\w._]+@[\w]+.com$/;

                    return (((this.booking.fullname !== "") && (namePattern.test(this.booking.fullname))) && (phoneNumPattern.test(this.booking.phone)) && (emailIDPattern.test(this.booking.email)));
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length || "";
                },
                selectedLessons() {
                    return this.lessons.filter(lesson => this.confirmCart.includes(lesson.id));
                },
                sortedLessons() {
                    let lessonsSorted = this.lessons.slice(0);

                    if (this.sortBy === "selected") {
                        return lessonsSorted;
                    }
                    console.log("Lessons sorted: ", lessonsSorted);

                    lessonsSorted.sort((a,b) => {
                        let attr1 = "";
                        let attr2 = "";

                        if (this.sortBy === "name") {
                            attr1 = a.name.toLowerCase();
                            attr2 = b.name.toLowerCase();
                        }
                        else if (this.sortBy === "location") {
                            attr1 = a.location.toLowerCase();
                            attr2 = b.location.toLowerCase();
                        }
                        else if (this.sortBy === "price") {
                            attr1 = a.price;
                            attr2 = b.price;
                        }
                        else if (this.sortBy === "seats") {
                            attr1 = (a.availableSeats - this.cartCount(a.id));
                            attr2 = (b.availableSeats - this.cartCount(b.id));
                        }

                        let result = 0;
                        if (attr1 < attr2){
                            result = -1;
                        }
                        if (attr1 > attr2){
                            result = 1;
                        }

                        return this.orderBy === "desc" ? -result : result;
                    });

                    return lessonsSorted;
                }
            }
        });
    </script>
</body>
</html>