<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="lessons.js"></script>
    <title>After School Club</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click="showShoppingCart" class="shopping-cart">
                {{ cartItemCount }}
                <span class="material-symbols-outlined" style="color: #A42D55; font-size: 30px;">&#xe8cc;</span>
            </button>
        </header>
        <main>
            <div v-if="showLesson">
                <div class="lesson-rows">
                    <div v-for="lesson in lessons">
                        <div class="lesson">
                            <div class="top-lesson">
                                <p><b>{{lesson.id}}<span style="margin-left: 45px;">{{lesson.name}}</span></b></p>
                            </div>
                            <div class="mid-lesson">
                                <figure>
                                    <img v-bind:src="lesson.image" class="icon">
                                </figure>
                                <div>
                                    <p>Location: {{lesson.location}}</p>
                                    <p>Price: {{lesson.price}}</p>
                                    <p>Seats Available: {{ lesson.availableSeats }}</p>
                                </div>
                            </div>
                            <div class="bottom-lesson">
                                <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)" class="addToCartBtn">
                                    Add to Cart
                                </button>
                                <button disabled="disabled" v-else class="addToCartBtn">
                                    Add to Cart
                                </button>
                                <span v-if="lesson.availableSeats === cartCount(lesson.id)">
                                    Club Full!
                                </span>
                                <span v-else-if="lesson.availableSeats - cartCount(lesson.id) < 5" id="mid">
                                    Just {{lesson.availableSeats - cartCount(lesson.id)}} spots left!
                                </span>
                                <span v-else>
                                    Join Now!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <h2 class="checkout">Checkout</h2>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        let webstore = new Vue({
            el:'#app',
            data: {
                sitename: "After School Club",
                lessons: lessons,
                showLesson: true,
                cart: [], //array to store items added to the cart
            },
            methods: {
                addToCart(lesson) {
                    this.cart.push(lesson.id);
                },
                canAddToCart(lesson) {
                    return lesson.availableSeats > this.cartCount(lesson.id);
                },
                showShoppingCart() {
                    this.showLesson = this.showLesson ? false : true;
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++){
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount: function() {
                    return this.cart.length || "";
                }
            }
        });
    </script>
</body>
</html>