@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* CSS HEX */
:root {
    --asc-peach: #E1A587;
    --asc-pink: #A42D55;
    --asc-dpink: #633040;
    --asc-dmagenta: #31282D;
}

html {
    scrollbar-color: var(--asc-pink) var(--asc-dpink);
}

body {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-image: url(https://stephanie-cst3144-after-school-club.onrender.com/static/bg.jpg);
}

header {
    text-align: center;
    display: flex;
    gap: 27%;
    font-family: "Quicksand", "sans-serif";
    font-size: 40px;
    margin-top: 50px;
    margin-left: 415px;
    color: var(--asc-peach);
    user-select: none;
    text-shadow: 
        -2px -2px 0 var(--asc-dpink), /* Top-left */
        2px -2px 0 var(--asc-dpink),  /* Top-right */
        -2px 2px 0 var(--asc-dpink),  /* Bottom-left */
        2px 2px 0 var(--asc-dpink);   /* Bottom-right */
}

.shopping-cart {
    display: flex;
    width: 110px;
    height: 40px;
    margin-top: 25px;
    padding: 5px 25px;
    border: 2px solid #633040;
    border-radius: 15px;
    background-color: #E1A587;
    margin-right: 25px;
}

.shopping-cart:hover {
    cursor: pointer;
}

.shopping-cart:disabled {
    background-color: rgba(225, 165, 135,0.8);
    cursor: not-allowed;
}

.cart-count {
    color: var(--asc-pink);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.lesson-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 80px;
    gap: 50px;
}

.lesson, .lesson-scroll-sep {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    background-color: rgba(225, 165, 135,0.8);
    border: 4px solid #A42D55;
    border-radius: 30px;
    font-family: "Poppins", "sans-serif";
    width: 300px;
    height: 200px;
}

.lesson {
    margin-left: 120px;
}

.lesson:hover, .lesson-scroll-sep:hover {
    background-color: rgb(225, 165, 135);
}

.top-lesson {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px
}

.mid-lesson {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 30px -15px 30px -15px;
    text-wrap: nowrap;
}

.mid-lesson div {
    margin-top: 20px;
    margin-left: 15px;
}

.icon {
    margin-left: 20px;
    margin-top: 10px;
    height: 110px;
    width: 110px;
}

.bottom-lesson {
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
}

.bottom-lesson span:not(#mid) {
    margin-left: 15px;
}

.checkout {
    font-family: "Quicksand", "sans-serif";
    font-size: 40px;
    color: var(--asc-peach);
    margin-left: 70px;
    text-shadow: 
        -2px -2px 0 var(--asc-dpink), /* Top-left */
        2px -2px 0 var(--asc-dpink),  /* Top-right */
        -2px 2px 0 var(--asc-dpink),  /* Bottom-left */
        2px 2px 0 var(--asc-dpink);   /* Bottom-right */
}

.addToCartBtn {
    background-color: var(--asc-pink);
    color: var(--asc-peach);
    border: 2px solid #31282D;
    border-radius: 15px;
    padding: 5px 15px;
    font-family: "Poppins", "sans-serif";
    font-size: 15px;
}

.addToCartBtn:hover {
    background-color: var(--asc-dpink);
    cursor: pointer;
}

.addToCartBtn:disabled {
    background-color: rgba(164, 45, 85,0.5);
    cursor: not-allowed;
}

.lesson-scroll {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-right: 50px;
    gap: 120px;
    overflow-y: auto;
}

.lesson-scroll-sep {
    margin-left: 70px;
}

.booking-details {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    gap: 5%;
    background-color: #E1A587;
    border: 2px solid #633040;
    border-radius: 30px;
    width: 850px;
    height: 200px;
    margin-top: 50px;
    margin-left: 70px;
    padding: 5px 15px;
}

.book-form, .book-info {
    font-family: "Poppins", "sans-serif";
    color: #A42D55;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5%;
}

.book-info {
    margin-left: 100px;
}

.book-form h2, .book-info h2 {
    margin-bottom: 10px;
}

.book-form input, .book-form input:active {
    width: 150px;
    height: 20px;
    border: 2px solid #A42D55;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px;
    color: #A42D55;
}

.name-field {
    display: flex;   
    flex-direction: row;
    gap: 10px;
    margin-left: 15px;
}

.phone-field {
    display: flex;   
    flex-direction: row;
    gap: 13px;
    margin-left: 15px;
}

.email-field {
    display: flex;   
    flex-direction: row;
    gap: 20px;
    margin-left: 15px;
}

.bookSeatBtn {
    font-family: "Poppins", "san-serif";
    color: #E1A587;
    font-weight: bold;
    background-color: #A42D55;
    border: 2px solid #E1A587;
    border-radius: 15px;
    margin-top: 270px;
    margin-left: 400px;
    font-size: 20px;
    padding: 5px 25px;
}

.bookSeatBtn:hover {
    background-color: #633040;
    cursor: pointer;
}

.bookSeatBtn:disabled {
    background-color: rgba(164, 45, 85, 0.5);
    cursor: not-allowed;
}

.sub-menu {
    display: flex;
    margin-left: 170px;
    margin-top: 40px;
    gap: 5%;
    padding: 10px;
    background-color: #E1A587;
    border: 2px solid #A42D55;
    border-radius: 30px;
    width: 500px;
}

.sort-menu label, .order-menu label {
    margin-right: 10px;
    font-weight: bold;
    color: #A42D55;
    font-size: 20px;
    font-family: "Poppins", "sans-serif";
}

.sort-menu select, .order-menu select {
    background-color: #633040;
    color: #E1A587;
    border: 2px solid #E1A587;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px 15px;
}